<h1>My tasks and ubjectives</h1>
<%= link_to 'New Task', new_task_path, class: 'btn btn-primary', :data => { :'intro' => 'Start by adding a Task', :'step' => '1' } %>
<% if @user.tasks.exists? %>
  <% if @user.tasks[2] %>
  <% else %>
  <a class="btn btn-success" href="javascript:void(0);" onclick="javascript:introJs().goToStep(2).start();" data-intro="Now other people can do the tasks you shared with the world. <hr /> Make a How-To guide, <hr />Share a challenge, <hr />Make a fun everyday task public, <hr />and enjoy what you do!" data-step="5">How it works</a>
  <% end %>
<% else %>
    <a class="btn btn-success" href="javascript:void(0);" onclick="javascript:introJs().start();">How it works</a>
<% end %>
<hr />


<div class="accordion" id="accordion2">
  <% @tasks.each do |task| %>
  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapse<%= task.id %>">
        <% if task == @tasks[0] %>
        <blockquote data-intro="This is your Task, you can have many tasks and each can have many ubjectives" data-step="2">
        <% else %>
        <blockquote>
        <% end %>
          <h3><%= task.title %></h3><small id="tasks_objectives_completed"><%= task.objectives.completed.count %> / <%= task.objectives.count %> tasks completed.</small>
          <p><%= task.description %></p>
          <div class="progress progress-striped active">
            <div class="bar" style="width: <%= progress_objectives(task) %>;"></div> | <%= progress_objectives(task) %>
          </div>
          <small id="tasks_last_update">Last update: <%= time_ago_in_words(task.updated_at) + " ago" %></small>
          <%= link_to "Update", edit_task_path(task) %> |
          <% if task.public %>
            <%= link_to "Make Private", private_task_path(task.id) %> |
          <% else %>
            <% if task == @tasks[0] %>
            <%= link_to "Make Public", public_task_path(task.id), :data => { :'intro' => 'To share a task simply click - Make Public', :'step' => '4' } %> |
            <% else %>
            <%= link_to "Make Public", public_task_path(task.id) %> | 
            <% end %>
          <% end %>
          <%= link_to "Remove Task", task_path(task), method: :delete, data: { confirm: "Are you sure?" } %>
          <% if task.author != current_user.profile_name %>
            <span class="pull-right padding-right" id="tasks_author">Original author: <em><%= task.author %> &copy;</em></span>
          <% end %>
          <hr />
        </blockquote>
      </a>
    </div>
    <% if task == @tasks[0] %>
    <div id="collapse<%= task.id %>" class="accordion-body collapse in" data-intro="Add new ubjectives from here. You can rearrange them with Drag and Drop and show/hide them by clicking on the parent task." data-step="3">
    <% else %>
    <div id="collapse<%= task.id %>" class="accordion-body collapse">
    <% end %>
      <div class="accordion-inner">
        <ol id="objectives" data-update-url="<%= sort_task_objectives_path(@user, task) %>">
          <%= link_to 'Add new ubjective', new_task_objective_path(current_user, task), class: 'btn btn-small btn-primary' %><hr />
          <% if task.objectives %>
            <% task.objectives.order("position").each do |objective| %>
              <%= content_tag_for :li, objective do %>
                <% if objective.completed %>
                <blockquote class="completed">
                  <p class="lead"><%= objective.objective %> <span class="inactive">(completed)</span></p>
                  <small>Last update: <%= time_ago_in_words(objective.updated_at) + " ago" %></small>
                  <%= link_to "Uncomplete".html_safe, uncomplete_objective_path(task.id, objective.id), class: 'btn btn-small' %>
                  <span class="btn btn-small" id="handle"><i class="icon-arrow-up"></i><i class="icon-arrow-down"></i></span>
                  <%= link_to 'Update', edit_task_objective_path(task, objective), class: 'btn btn-small' %> | 
                  <%= link_to "<i class='icon-remove'></i> Remove".html_safe, task_objective_path(task, objective), class: 'btn btn-small', method: :delete, data: { confirm: 'Are you sure you want to remove this ubjective?' } %>
                </blockquote>
                <% else %>
                <blockquote class="incompleted">
                  <p class="lead"><%= objective.objective %></p>
                  <small>Created: <%= time_ago_in_words(objective.created_at) + " ago" %></small>
                  <%= link_to "<i class='icon-ok icon-white'></i> Complete".html_safe, complete_objective_path(task.id, objective.id), class: 'btn btn-small btn-success' %>
                  <span class="btn btn-small" id="handle"><i class="icon-arrow-up"></i><i class="icon-arrow-down"></i></span>
                  <%= link_to 'Update', edit_task_objective_path(task, objective), class: 'btn btn-small' %> | 
                  <%= link_to "<i class='icon-remove'></i> Remove".html_safe, task_objective_path(task, objective), class: 'btn btn-small', method: :delete, data: { confirm: 'Are you sure you want to remove this ubjective?' } %>

                </blockquote>
                <% end %>
              <% end %>
            <% end %>
          <% end %>
        </ol>
      </div>
    </div>
  </div>
  <% end %>
</div>

















