<h1>Task shared by: <%= @task.author %> <%= link_to 'Do it!', clone_task_path(@task), class: 'btn btn-large btn-primary' %><%= link_to "Go back", browse_path, class: 'btn pull-right' %></h1>
<hr />

<blockquote>
  <h3><%= @task.title %></h3><small id="tasks_objectives_completed"><%= @task.objectives.completed.count %> / <%= @task.objectives.count %> tasks completed.</small>
  <p><%= @task.description %></p>
  <div class="progress progress-striped active">
    <div class="bar" style="width: 0%;"></div> | 0%
  </div>
  <small id="tasks_last_update">Last update: <%= time_ago_in_words(@task.updated_at) + " ago" %></small>
  <%= link_to "Post on Facebook", share_task_path(@task.id) %>
  
  
    <span class="pull-right padding-right" id="tasks_author">Original author: <em><%= @task.author %> &copy;</em></span>
  
  <hr />
</blockquote>

<ol id="objectives">
          <% if @task.objectives %>
            <% @task.objectives.order("position").each do |objective| %>
              <%= content_tag_for :li, objective do %>
                
                <blockquote class="incompleted">
                  <p class="lead"><%= objective.objective %></p>
                  <small>Created: <%= time_ago_in_words(objective.created_at) + " ago" %></small>
                  

                </blockquote>
                
              <% end %>
            <% end %>
          <% end %>
        </ol>