<h2>Sign up</h2>
 
<%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
 
<h4>We require your Email so you can access the same profile with different social network accounts.</h4>
<p>We will Not share it with anyone outside ubjective.com without your premission.</p>
<%= f.input :email %>
<%= f.input :profile_name %>
<%= f.input :birthday, as: :date, start_year: Date.today.year - 12,
                           end_year: Date.today.year - 90, order: [:day, :month, :year], input_html: { } %>
 
<% if @user.password_required? %>
<%= f.input :password %>
<%= f.input :password_confirmation %>
<% end %>
 
<div><%= f.submit "Sign up", class: 'btn btn-primary' %></div>
<% end %>